* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

.wrap {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-image: url(../imgs/starbg.jpg);
    position: relative;
}

.header {
    width: 100%;
    height: 60px;
    line-height: 60px;
    position: absolute;
    left: 0;
    top: 0;
}

.header p {
    color: #e87700;
    font-size: 18px;
    text-align: center;
    font-weight: bolder;
}

.header img {
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    position: absolute;
    left: 0;
    top: 15%;
    bottom: 50px;
}

.main p {
    width: 90%;
    height: 5rem;
    display: -webkit-box;
    padding-bottom: 20px;
    padding-top: 10px;
    margin: 0 5%;
}

.main p a {
    display: block;
    -webkit-box-flex: 1;
    text-align: center;
}

.main p a img {
    display: block;
    margin: 0 auto;
    width: 80px;
    height: 80px;
}

.main a.first img {
    width: 90px;
}

.footer {
    width: 100%;
    height: 50px;
    line-height: 50px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.footer p {
    text-align: center;
    color: #e87700;
}